name: Deploy Worker

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish Worker with Wrangler
        uses: cloudflare/wrangler-action@1.5.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          workingDirectory: ./
          command: publish
